* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing:  border-box;
box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background:  #1b1d35;
}

a{
    text-decoration: none;
    color: #b8711b;
}

a:hover{
    text-decoration: underline;
}

.mycontainer{
    max-width: 500px;
    width: 90%;
    margin:auto;

}
.tittle{
    font-weight: 300;
    color: #bb711b;
    text-align: center;
}

.border{
    border: none;
    margin-bottom: 5px;
    border-top: 10px solid #bb711b;
    background: none;
    color: none;
}
 article{
background-color: antiquewhite;
 }

 .form{
     background: #2c4c47;
     padding: 30px;
     margin-bottom: 30px;
 }
 .form .formgroup{
     width: 100%;
     margin-bottom: 10px;
 }

 .form input[ type="text"];
 .form input[type="password"]{
     padding: 15px;
     font-family: 'Raleway', sans-serif;
     font-size: 18px;
     line-height: 18px;
 }

 .form .icon{
     padding:  15px;
     text-align: center;
     width: 48px;
     max-height: 48px;
     font-size: 18px;
     line-height: 18px;
     background: #cbcbcb;
     display: inline-block;
     color: #6b8b6b;
     vertical-align: top;


     }

     .form .icon.left{
        margin-right: 4px;
        border-radius: 3px 0 3px;
 }

 .form .user
 .form .password{
     width: calc(100% -52px);
     border-radius: 0 3px 3px 0;
 }

 .form .password_btn{
     width: calc(100% - 105px);
 }

 .form .error ul{
padding: 0 15px;
 }

 .form .error ul li{
     margin-bottom: 18px;
 }

 .form .submit-btn{
     padding: 15px;
     text-align: center;
     width: 48px;
     max-height:  48px;
     font-size: 18px;
     line-height: 18px;
     background: #679863;
     display: inline-block;
     color: #fff;
     background: #769766;
     cursor: pointer;
     border-radius: 0 3px 3px 0;
 }

 .text-signup{
     text-align: center;

 }

 .text-signup a{
     display: block;
     font-size: 18px;
 }

 .content article{
     padding: 30px;
     background: #fff;
 }

 .content article p{
     margin-bottom: 10px;
     color: #000;
 }

 .password{
    -webkit-text-security: disc;
 }
